.button {
  font-size: 14px;
  line-height: 16px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  text-transform: uppercase;
  border: 1px solid $basic-white;
  padding: 14px 25px;
  border-radius: 5px;
  letter-spacing: 0.05em;
  text-align: center;
  background: transparent;
  color: $basic-white;
  display: inline-block;
}
