.contacts {
  max-width: 560px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 40px;
  padding-top: 40px;
  font-size: 16px;
  line-height: 22px;

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }
}

.contacts__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: $basic-dark;
  margin-top: 0;
  margin-bottom: 20px;
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;

  @media (max-width: $tablet-width) {
    justify-content: center;
  }
}

.contacts__item {
  font-size: 14px;
  line-height: 17px;
  color: rgba($basic-dark, 0.5);
  margin-bottom: 20px;
}

.contacts__link {
  color: $basic-black;
  padding-left: 41px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 1px;
    background-repeat: no-repeat;
  }
}

.contacts__link_phone {
  font-size: 16px;
  line-height: 32px;

  &::before {
    width: 30px;
    height: 30px;
    background-image: url("/img/phone.svg");
    background-position: left;
    top: -3px;
    left: 6px;
  }
}

.contacts__link_email {
  &::before {
    width: 26px;
    height: 20px;
    background-image: url("/img/email.svg");
    background-position: center;
  }
}

.contacts__text {
  display: none;

  @media (max-width: $desktop-width) {
    display: inline-block;
  }
}
