.form {
  display: grid;
  gap: 40px 30px;
  grid-template-columns: 1fr 1fr;

  &__input {
    border: transparent;
    background-color: $basic-blue-light;
    font-family: inherit;
    color: $basic-white;
    padding: 13px 16px;

    &_textarea {
      grid-column: -1/1;
    }
  }

  ::placeholder {
    color: $basic-white;
  }

  &__text-checkbox {
    font-size: 14px;
    line-height: 16px;
    opacity: 0.8;
    color: $basic-white;
  }
}
