.questions {
  background-color: $basic-blue;
  padding-top: 92px;
  padding-bottom: 113px;

  &__title {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    color: $basic-white;
    font-weight: normal;
    font-size: 36px;
    line-height: 51px;
    margin-top: 0;
    margin-bottom: 7px;
  }

  &__text {
    font-size: 16px;
    line-height: 22px;
    color: $basic-white;
    margin-top: 0;
    margin-bottom: 49px;
  }

  &__wrapper {
    max-width: 570px;
    margin-left: auto;
  }
}
