.site-map {
  &__title {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "PT Mono", "Arial", sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 65px;
  }

  &__link {
    color: $basic-dark-blue;
    opacity: 0.5;
    font-size: 15px;
    line-height: 25px;
  }
}