$basic-black: #000000;
$basic-white: #ffffff;
$basic-blue: #00b2ff;
$basic-light: #ebebeb;
$basic-dark: #666666;
$basic-blue-light: #19baff;

$basic-grey: #626962;

$basic-dark-blue: #1b2d37;

$desktop-width: 1022px;
$tablet-width: 767px;
